/* header section start */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e8e8e8;
}
header{
    background-color: antiquewhite;
    padding: 20px 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

/* header sectiion end */

/* baner section style start */

.baner-content{
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
}
.baner-title{
    font-size: 50px;
    margin: 20px 90px;
}
.baner-description{
    text-align: justify;
}
.btn-primary{
    padding: 15px 20px;
    background-color:#FF900E;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}
.baner img{
    width: 100%;
}

/* baner section end */

/* header and baner responsibe media queries */

@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav {
        flex-direction: column;
    }
    ul{
        margin-top: 15px;
    }
    nav ul li {
        margin: 8px;
    }
    nav ul li a { 
        font-size: 18px;
    }
    .baner-title{
        font-size: 28px;
        margin: 20px;
    }
    .btn-primary {
        padding: 10px;
        font-size: 15px;
    }
    .baner img{
        padding: 0;
    }
}

@media screen and (min-width:576px) and (max-width:993px) {
    header {
        padding: 20px 10px;
    }
    ul{
       margin-top: 15px;
    }
    nav ul li {
        margin: 8px;
    }
}


/* main style */

main{
    max-width: 1150px;
    margin: 50px auto;
}

/* teams section style start  */

.teams-container{
    display: flex;
    margin: 80px 0;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.teams-img-container img{
    width: 100%;
}
.teams-content{
  width: 45%;
  margin-left: 90px;
}
.teams-title{
    font-size: 35px;
    padding: 10px 0;
}
/* teams section style end  */

/* teams responsibe media queries */

@media screen and (max-width:576px) {
    .teams-container {
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .teams-content {
        width: 90%;
        margin-left: 0px;
    }
    .teams-img-container {
        grid-template-columns: repeat(1,1fr);
        margin: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:993px) {
    .teams-container {
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .teams-content {
        text-align: center;
        max-width: 550px;
        margin: 0 auto;
    }
    .teams-img-container {
        grid-template-columns: repeat(2,1fr);
        margin: 10px;
    }
}

/* features-seciton style start */

.features-container{
    display: flex;
    gap: 120px;
    margin: 10px;
}
.features-title{
    font-size: 34px;
    margin: 20px 0;
    padding: 0px 20px;
    border-left: 5px solid tomato;  
}
.features-card{
    margin: 20px 0px;
    background-color: #d8f0f9d2;
    border-radius: 10px;
    padding: 20px;
}
.features-card p{
    padding: 10px 0;
}

.features-container img{
    width: 550px;
}
.ten-yeares-badge{
    border-radius: 10px;
    background-color: #FF900E;
    color: white;
    width: 120px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 70px;
    right: 50px;
}

/* features-seciton style end */

/* features-seciton responsibe media queries */

@media screen and (max-width:576px) {
    
    .features-container {
        flex-direction: column;
        margin-bottom: 20px;
        margin: 10px;
    }
    .features-title{
        font-size: 30px;
        padding: 0px;
        border-left: none;  
    }
    .features-container img{
        width: 100%;  
    }
    .ten-yeares-badge{
        width: 70px;
        padding: 20px;
        bottom: 50px;
        left: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:993px) {

    .features-container {
        flex-direction: column;
        margin-bottom: 20px;
        margin: 10px;
    }
    .title{
        text-align: center;
        max-width: 550px;
        margin: 0 auto;
    }
    .features-title{
        font-size: 30px;
        padding: 0px;
        border-left: none;  
    }
    .div{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 20px;
    }
    .features-container img{
        width: 100%;  
    }
    .ten-yeares-badge{
        width: 70px;
        padding: 20px;
        bottom: 50px;
        left: 30px;
    }
}

/* facts-section style start */

.facth-title{
    font-size: 35px;
    margin-left: 10px;
}
.facth-description{
    padding: 20px 0px;
    width: 450px;
    margin-left: 10px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card{
    border: 2px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: 110px;
    padding: 30px;
}

/* facts section end */

/* facts section responsibe media queries  */

@media screen and (max-width:576px) {
    .facts-container{
        margin: 20px;
    }
    .facth-title{
        margin-left: 0px;
    }
    .facth-description{
        width: 100%;
        margin-left: 0;
    }
    .facts-card-container {
        margin-top: 10px;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .card {
       margin: 10px auto;
    }
}

@media screen and (min-width:576px) and (max-width:993px) {
    .facts-container{
        margin: 20px;
    }
    .facts-content{
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    .facts-card-container {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card {
        margin: 10px auto;
     }
}


/* sponsors-section start */

.sponspors-container{
    margin: 5rem;
    text-align: center;
}
.sponspors-content{
    max-width: 500px;
    text-align: center;
    margin: 50px auto;
}
.sponspors-title{
    font-size: 35px;
    margin: 20px;
}
.sponspors-img{
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;
}
.sponspors-img img{
    width: 120px;
    color: rgb(49, 233, 233);
}
.sponsors-link{
    margin: 70px auto;
    background-color: bisque;
    max-width: 600px;
    padding: 15px;
}

/* sponsors-section end */


/* sponsors-section responsibe media queries  */
@media screen and (max-width:993px) {
    
   .sponspors-container {
        margin: 1rem 10px;
        text-align: center;
    }
    .sponspors-img{
        flex-direction: column;
    }
    .sponspors-img img{
        margin: 15px  auto;
    }
}
